@model List<User>;
@{
    ViewData["Title"] = "Index";
}

<h1>User Rating</h1>
@foreach (var user in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            <h5>
                @user.FirstName @user.LastName
            </h5>
        </div>
        <div class="card-body">
            <img class="float-left" src="~/images/empty icon.png" style="width:200px; height:200px; margin-right:15px;">
            <p>
                <b>Age:</b> @user.Age
            </p>
            <p>
                <b>City:</b> @user.City
            </p>
            <p>
                <b>About Me:</b> @user.AboutMe
            </p>
        </div>
        <div class="card-footer">
            <button class="enable-hover" style="height: 65px; border: none; background: none">
                <img src="~/images/like.png" style="width:40px; height:40px;" ><p>@user.Likes</p>
            </button>
            <button class="enable-hover" style="height: 65px; border: none; background: none">
                <img src="~/images/dislike.png" style="width:40px; height:40px;"><p>@user.Dislikes</p>
            </button>
        </div>
    </div>
}